extends layout

block content
  #content
    #tab_playlist.active
      h1.cover-heading #{lang.header.playlist}
      ul#playlist
    #tab_library
      h1.cover-heading #{lang.header.library}
      .container-fluid
        form.form-inline(name="buscador")
          .form-group.has-feedback
            input#searchbox(type="text" class="form-control" placeholder="Search")
            span.glyphicon.glyphicon-remove.form-control-feedback
        .row-fluid
          .col-xs-6.scroller.scroller-left
            ul#FSfolders.fileTree
          .col-xs-6.scroller
            ul#FSfiles.fileTree
        .row-fluid.searchCont
          .col.scroller.scroller-full
            ul#FSsearch.fileTree
    #tab_chat
      h1.cover-heading #{lang.header.chat}
      .container-fluid
        .row-fluid
          .col-xs-8.scroller.scroller-left
            ul#chat
          .col-xs-4.scroller
            ul#users.list-group
      .chat-footer
        .input-group
          input(type="text" class="form-control")
          span.input-group-btn
            button.btn.btn-primary(type="button") #{lang.nav.send}
    #tab_about
      h1.cover-heading #{lang.header.about}
      p.lead
        | #{title} is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
      p.lead
        a.btn.btn-lg.btn-default(href='#') Learn more