doctype html
html
  include inc/header
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container.fixwidth
        .navbar-header
          button.navbar-toggle.nav-keepback(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only #{lang.nav.navigation}
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #playingsong
            a.navbar-brand
              span.icons
                span.glyphicon.glyphicon-music
              span.song #{lang.loading}...
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.nav-keepback
            li
              a.voteNext(href="#",data-toggle="tooltip",data-placement="bottom",title="#{lang.nav.nextSong}")
                span.glyphicon.glyphicon-forward
                span.descr #{lang.nav.nextSong}
                span.badge
            if admin
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | #{lang.nav.options}
                  b.caret
                ul.dropdown-menu.adminMenu
                  li.dropdown-header #{ip}
                  li.divider
                  li
                    a(href='#',data-accion='libs')
                      span.glyphicon.glyphicon-list-alt
                      |#{lang.nav.libs}
                  li.auto-pilot.active
                    a(href='#',data-accion='autop')
                      span.glyphicon.glyphicon-ok
                      span.glyphicon.glyphicon-random
                      |Auto-pilot
                  li.divider
                  li.dropdown-header #{lang.nav.playlist}
                  li.buttonPlay
                    a(href='#',data-accion='rep',data-cmd='play')
                      span.glyphicon.glyphicon-play
                      |#{lang.nav.play}
                  li.buttonStop
                    a(href='#',data-accion='rep',data-cmd='stop')
                      span.glyphicon.glyphicon-stop
                      |#{lang.nav.stop}
                  li
                    a(href='#',data-accion='rep',data-cmd='next')
                      span.glyphicon.glyphicon-forward
                      |#{lang.nav.next}
                  li.divider
                  li
                    a(href='#',data-accion='exit')
                      span.glyphicon.glyphicon-off
                      |#{lang.nav.exit}
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand WeDJ
              ul.nav.masthead-nav
                li.active(data-dir="playlist")
                  a.navButton(href="#") #{lang.header.playlist}
                li(data-dir="library")
                  a.navButton(href="#") #{lang.header.library}
                li(data-dir="chat")
                  a.navButton(href="#") #{lang.header.chat}
                    span.badge
                li(data-dir="about")
                  a.navButton(href="#") #{lang.header.about}
          .inner.cover
            block content

          include inc/footer
